<custom-nav></custom-nav>
<div class="nav-space"></div>

<h1>This is the settings controller!</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dbConnectionModal">
  Create Database Connection
</button>

<!-- Modal -->
<div class="modal fade" id="dbConnectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a Database Connection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="connectionName">Connection Name</label>
            <input required ng-model="dbInfo.connectionName" type="text" class="form-control" id="connectionName" placeholder="Connection Name">
          </div>
          <div class="form-group">
            <label for="databaseServer">Database Server</label>
            <select required ng-model="dbInfo.databaseServer" class="form-control" id="databaseServer">
              <option value="mysql" selected>MySQL</option>
              <option value="postgres">PostgreSQL</option>
              <option value="redshift">Redshift</option>
            </select>
          </div>
          <div class="form-group">
            <label for="databaseName">Database Name</label>
            <input required ng-model="dbInfo.databaseName" type="text" class="form-control" id="databaseName" placeholder="Database Name">
          </div>
          <div class="form-group">
            <label for="host">Host</label>
            <input required ng-model="dbInfo.host" type="text" class="form-control" id="host" placeholder="Host">
          </div>
          <div class="form-group">
            <label for="port">Port</label>
            <input ng-model="dbInfo.port" type="text" class="form-control" id="port" placeholder="If none selected, default will be used">
          </div>
          <div class="form-group">
            <label for="user">User</label>
            <input required ng-model="dbInfo.user" type="text" class="form-control" id="user" placeholder="User">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input required ng-model="dbInfo.password" type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="submitDatabaseConnection()">Save</button>
      </div>
    </div>
  </div>
</div>
