<div #containerRef>
  <fusioncharts
    class="chart"
    width="{{width}}"
    height="{{height}}" 
    type="{{officialChartName}}"
    [dataSource]="dataSource">
    <img src="assets/images/refresh-icon.png" alt="refresh" class="refresh">
  </fusioncharts> 
  <img 
    #resizeRef 
    src="assets/images/resize-icon.png" 
    alt="resize" 
    class="resize somethin-else"
    mat-raised-button
    matTooltip="Resize Chart"
    aria-label="Button that displays a tooltip when focused or hovered over"
    matTooltipClass="custom-tooltip"
    [matTooltipPosition]="'above'">
    <span  *ngIf="showDimensions" class="dimension-label">{{width}} X {{height}}</span>
  <img 
    (click)="onRefresh()" 
    src="assets/images/refresh-icon.png" 
    alt="refresh" 
    class="refresh"
    mat-raised-button
    matTooltip="Refresh Chart Data"
    aria-label="Button that displays a tooltip when focused or hovered over"
    matTooltipClass="custom-tooltip"
    [matTooltipPosition]="'above'"
    [ngClass]="{'spinner': spinner}">
</div>