div {
  position: absolute;
}

.refresh {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px!important;
  height: 20px!important;
  /* z-index: 1; */
  cursor: pointer!important;
}

.resize {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px!important;
  height: 20px!important;
  /* z-index: 1; */
  cursor: nwse-resize;
}

.dimension-label {
  position: absolute;
  bottom: 0;
  right: 22px;
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}