<br>
<div class="container">
  <div class="row justify-content-md-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-md-center">
              <h4>New Chart</h4>
            </div>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit(chartForm)" #chartForm="ngForm">
              <div class="form-group">
                <label for="name">Chart Name</label>
                <input 
                  required
                  ngModel
                  class="form-control"
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Chart Name">
              </div>
              <div class="form-group">
                <label for="chart-type">Chart Type <span>(editable after query tested)</span> </label>
                <select disabled class="form-control" name="chart_type" id="chart-type">
                  <option value="table">table</option>
                  <option value="column2d">2d Column</option>
                </select>
              </div>
              <div class="form-group">
                <label for="dbcId">Database</label>
                <select #dbcIdRef ngModel class="form-control" name="dbcId" id="database">
                  <option *ngFor="let dbc of dbcs" value="{{dbc.id}}">{{ dbc.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="query">SQL Statement</label>
                <textarea #queryRef required ngModel name="query" id="query" style="width: 100%; min-height: 200px" placeholder="Write SQL here..."></textarea>
              </div>
              <!-- <div class="form-group">
                <label for="name">Chart Name</label>
                <input 
                  required
                  ngModel
                  class="form-control"
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Chart Name">
              </div> -->
              <div class="btn btn-info" (click)="runQuery(dbcIdRef, queryRef)">Run Query</div>
              <button [disabled]="(chartForm.valid && submitted) || (!submitted && chartForm.invalid)" class="btn btn-info">Save Chart</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>