<br>
<div *ngIf="chart" class="container-fluid">
  <div class="row justify-content-md-center">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-md-center">
              <h4>Chart</h4>
            </div>
          </div>
          <div class="card-body" #formRef>
            <form #chartForm="ngForm">
              <div class="form-group">
                <label for="name">Chart Name</label>
                <input 
                  (change)="onChartSettingChange()"
                  #chartNameRef
                  required
                  [(ngModel)]="chart.name"
                  class="form-control"
                  type="text"
                  name="name"
                  id="name">
              </div>
              <div class="form-group">
              </div>
              <div class="form-group">
                <label for="dbcId">Database</label>
                <select (change)="onChartSettingChange()" #dbcIdRef class="form-control" name="dbcId" id="database">
                  <option *ngFor="let dbc of accountOverview.dbcs" value="{{dbc.id}}">{{ dbc.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="query">SQL Statement</label>
                <textarea (change)="onChartSettingChange()" #queryRef required name="query" id="query" style="width: 100%; min-height: 300px" [(ngModel)]="chart.query"></textarea>
              </div>
              <div class="row justify-content-between">
                <div class="col-auto">
                    <button class="btn btn-info" (click)="runQuery(dbcIdRef, queryRef)">Run Query</button>
                </div>
                <div class="col-auto">
                    <button (click)="onSubmit()" [disabled]="!chartSavable" class="btn btn-info">Save Chart</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-8 chart-example">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-md-center">
              <h4>Chart Preview</h4>
            </div>
          </div>
          <div class="card-body chart-example" #chartPreviewRef>
            <div class="container-fluid">
              <div class="row">
                <label for="chart-type">Chart Type</label>
                <select #chartTypeRef [(ngModel)]="chartName" class="form-control" name="chart_type" id="chart-type">
                  <option value="table">Table</option>
                  <option value="column">Column</option>
                </select>
              </div>
              <div *ngIf="queryResponse" class="row justify-content-between">
                <div class="col-lg-6">
                  <label for="x-axis">X Axis</label>
                  <select (change)="onChartSettingChange()" #xAxisRef class="form-control" name="x-axis" id="x-axis" [(ngModel)]="chart.xAxis">
                    <option *ngFor="let col of queryResponse.columns" value="{{col}}">{{ col }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label for="y-axis">Y Axis</label>
                  <select (change)="onChartSettingChange()" #yAxisRef class="form-control" name="y-axis" id="y-axis" [(ngModel)]="chart.yAxis">
                    <option *ngFor="let col of queryResponse.columns" value="{{col}}">{{ col }}</option>
                  </select>
                </div>
              </div>
              <br>
              <div *ngIf="!showTable" class="alert alert-dark text-center" role="alert">
                Run a query
              </div>
              <div *ngIf="invalidAxis" class="alert alert-dark text-center" role="alert"> 
                Y-axis columns must be numeric
              </div>
              <app-table
              *ngIf="queryResponse && chartTypeVal == 'table'"
              [data]="queryResponse">
            </app-table>
            <fusioncharts
              *ngIf="showChart"
              class="chart"
              width="700"
              height="400" 
              type="column2d"
              [dataSource]="dataSource">
              <img src="assets/images/refresh-icon.png" alt="refresh" class="refresh">
            </fusioncharts> 
            </div>
          </div>
        </div>

      </div>
  </div>
</div>