<div class="container">
    <div *ngIf="noCharts" class="row justify-content-md-center">
      <br>
      <div class="col-lg-8">
        <div routerLink="new-chart" class="clickable alert alert-info clickable add-chart-warning" role="alert">
            Add a chart to this dashboard to get started
        </div>
      </div>
    </div>
</div>
<ng-container *ngIf="showGridlines">
    <div *ngFor="let vrq of vrQuarters" [ngStyle]="{'left': vrq + 'px'}" class="vr-gridline grey"></div>
    <div *ngFor="let vrt of vrThirds" [ngStyle]="{'left': vrt + 'px'}" class="vr-gridline blue"></div>
</ng-container>

<div class="dashboard">
    <ng-container *ngIf="showGridlines">
        <div *ngFor="let hrq of hrQuarters" [ngStyle]="{'top': hrq + 'px'}" class="hr-gridline grey"></div>
        <div *ngFor="let hrt of hrThirds" [ngStyle]="{'top': hrt + 'px'}" class="hr-gridline blue"></div>
    </ng-container>

    <app-chart
    *ngFor="let chart of charts"
    [chart]="chart">
    </app-chart>
</div>
