<div class="container">
    <div *ngIf="noCharts" class="row justify-content-md-center">
      <br>
      <div class="col-lg-8">
        <div routerLink="new-chart" class="clickable alert alert-info clickable add-chart-warning" role="alert">
            Add a chart to this dashboard to get started
        </div>
      </div>
    </div>
</div>

<div *ngIf="showGridlines" class="vr-gridline grey" [ngStyle]="{'left': vrFourth + 'px'}"></div>
<div *ngIf="showGridlines" class="vr-gridline blue" [ngStyle]="{'left': vrThird + 'px'}"></div>
<div *ngIf="showGridlines" class="vr-gridline grey" [ngStyle]="{'left': vrHalf + 'px'}"></div>
<div *ngIf="showGridlines" class="vr-gridline blue" [ngStyle]="{'left': vrTwoThird + 'px'}"></div>
<div *ngIf="showGridlines" class="vr-gridline grey" [ngStyle]="{'left': vrThreeFourth + 'px'}"></div>

<div class="dashboard">
    <div *ngIf="showGridlines" class="hr-gridline grey" [ngStyle]="{'top': hrFourth + 'px'}"></div>
    <div *ngIf="showGridlines" class="hr-gridline blue" [ngStyle]="{'top': hrThird + 'px'}"></div>
    <div *ngIf="showGridlines" class="hr-gridline grey" [ngStyle]="{'top': hrHalf + 'px'}"></div>
    <div *ngIf="showGridlines" class="hr-gridline blue" [ngStyle]="{'top': hrTwoThird + 'px'}"></div>
    <div *ngIf="showGridlines" class="hr-gridline grey" [ngStyle]="{'top': hrThreeFourth + 'px'}"></div>

    <app-chart
    *ngFor="let chart of charts"
    [chart]="chart">
    </app-chart>
</div>
