.dashboard {
  position: relative;
  min-width: 100%;
}

.add-chart-warning {
    display: flex;
    justify-content: center;
}

.hr-gridline {
  position: absolute;
  width: 100%;
  height: 0px;
}


.vr-gridline {
  position: absolute;
  width: 0;
  height: 100%;
}

.grey {
  border: 0.5px dashed grey;
}

.blue {
  border: 0.5px dashed #10A2B6;
}